header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 160px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
}