body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, p {
    text-decoration: none;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 200px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

label, input, select, footer {
    margin-top: 10px;
}

textarea {
    margin: 20px;
}
